name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare site folder
        run: |
          mkdir -p site
          cp unit.html site/index.html
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: site

  deploy:
    needs: build-deploy
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
